@media (prefers-color-scheme: light) {
    html {
        color: #222222;
        background-color: #ffffff;
    }
}
@media (prefers-color-scheme: dark) {
    html {
        color: #dddddd;
        background-color: #000000;
    }
    img {
        filter: invert(100%);
    }
}