html {
    font-family: -apple-system, Roboto, 'Open Sans', sans-serif;
    font-size: large;

    line-height: 1.5;
    
    max-width: 54rem;
    margin: auto;
}

body {
    margin: 2rem;
}

a {
    text-decoration: none;
    color: #6666dd;
}

h1 {
    text-align: center;
    line-height: 1;
}