html {
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--content);
    background-color: var(--theme);
    font-size: large;
    margin: 2rem;
}
a {
    text-decoration: none;
    color: var(--highlight);
}